:root{
    --page-content-width: 85%;
}

html, body{
    height: 100vh;
    margin: 0;

    background-color: #222;
    background: linear-gradient(
        90deg,
        #2f2f2f 0%,
        #222 100%
    );
}

a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

*{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 150%;
}

.hover{
    --transition-time: 300ms;
    transition: var(--transition-time) ease;
}
.hover:hover{
    --transition-time: 300ms;
    --scale-factor: 1.1;
    cursor: pointer;
    transform: scale(var(--scale-factor));
    transition: var(--transition-time) ease;
}