.page-content-wrapper{

    width: 100%;
    background-color: #222;
    color: white;

    .page-content{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0 auto;
        width: var(--page-content-width);
    
        > .accordion-container{
    
            align-self: stretch;
            /* box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1); */
    
            > .accordion-header{
                display: flex;
                justify-content: space-between;
                gap: 12px;
                align-self: stretch;
    
                span{
                    font-size: 32px;
                }
    
                > svg{
                    width: 28px;
                    height: 28px;
                }
            }
    
            > .accordion-content{
    
                border-radius: 8px;
                scrollbar-width: none;
    
                > .accordion-item{
                    display: flex;
                    padding: 10px 6px;
                }
    
                > .accordion-item:not(:last-of-type){
                    border-bottom: 1px solid #e2e2e2;
                }
            }
        }
    
        > .main-page-accordion{
    
            > .accordion-header{
                padding-bottom: 8px;

                flex-direction: column;

                > .top {
                    display: flex;
                    justify-content: space-between;
                    gap: 12px;
                    align-self: stretch;
                }

                > .bottom{
                    width: 100%;
                    overflow: hidden;
                    height: 0;
                    border-radius: 5px;

                    transition: height 300ms ease;
                }
            }
    
            > .accordion-content{
    
                background-color: #272727;
                color: white;
                border: 0px solid white;
    
                > .accordion-item{
                    
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    padding: 0;
                    justify-content: space-between;
                    border: none !important;
                    
                    > div{
                        width: 47.5%;
                        margin: auto 0;
                    }
    
                    > .project-image-container{
                        display: inline-block;
                        position: relative;
                        
                        > img{
                            display: block; /* remove bottom gap */
                            width: 100%;    /* scale if you want responsive */
                            height: auto;
                        }
                    }
    
                    > .project-description-container{
    
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
    
                        > .project-description{
                            a {
                                color: inherit;
                                text-decoration: underline;
                                cursor: pointer;
                            }

                            span.title{
                                font-size: 40px;
                                font-weight: 500;
                            }

                            > .description{
                                .formula{
                                    text-align: center;
                                    font-family: 'Consolas', 'Courier New', monospace;
                                }
                            }

                            a:hover,
                            a:focus {
                                color: inherit;
                            }
                        }
    
                        > .bottom{
                            padding: 16px 24px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
    
                > .accordion-item:nth-of-type(2n){
                    > .project-image-container{
                        order: 2;
                    }
    
                    > .project-description-container{
                        order: 1;
    
                        > .project-description{
                            padding: 24px;
                            padding-right: 0;
                        }

                        > .bottom{
                            justify-content: flex-start;
                        }
                    }
                }
    
                > .accordion-item:nth-of-type(2n+1){
                    > .project-image-container{
                        order: 1;
                    }
    
                    > .project-description-container{
                        order: 2;
    
                        > .project-description{
                            padding: 24px;
                            padding-left: 0;
                        }

                        > .bottom{
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    
        > .main-page-accordion.open{

            > .accordion-header{
                > .bottom{
                    height: 5px;
                    transition: height 300ms ease;

                    /* box-shadow: 3px 8px 16px 0 rgba(253, 61, 2, 0.5);
                    transition: box-shadow 300ms ease; */

                    filter: blur(0.5px);
                }
            }

            > .accordion-content{
                border: 2px solid white;
                max-height: 4000px;
            }
        }
    }

}
